@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    font-size: 100%;

}




/* startseite */

.italic {font-style: italic;}
.main-page h1 {
    text-align:center;
    font-size: 3rem;
}
.main-page h2 {
    text-align:center;
    font-size: 2rem;
}
/* end startseite */



h1 {
    margin: 20px;
    padding: 20px;
    color: black;
    font-family: 'Sriracha', cursive;
    font-style: italic;
    text-align: left;
}

p {
    margin: 20px;
    padding: 20px;
    color: white;
    font-family: 'Sriracha', cursive;
    font-size: 20;

}

body {
    margin: 20px;
    padding: 20px;
    height: 100%;
    font-size: 200;
    color: black;
    font-family: 'Sriracha', cursive;
    font-style:italic;
    background-color: rgb(36, 9, 187);
    user-select: none;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  img {
      width: 300px;
      height: auto;
  }

  /* Links */

a { text-decoration: none;}
a, a:link, a:visited {
  color: white;
}

a:focus, a:hover {
  color: yellow;
}

   /* End Links */

   /* Navigation */

   nav ul {
       font-size: 4rem;
       list-style: none;
       display: grid;
       grid-gap: 1rem 1rem;
       align-items: center;
       justify-items: center;
       grid-template-columns: repeat( auto-fit, minmax(100px, 2fr) );
   }
   /* End Navigation */



.give-me-a-gif .image-grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 2rem 1rem;
    align-items: center;
    justify-items: center;
}

body {
    margin: 0;
    padding: 0;
  }
  #overlay {
    transition: 1s;
    background-color: yellow;
    opacity: 0.5;
    position: fixed; width: 100%; height: 100%; font-size: 40px; display: flex;
   justify-content: center; align-items: center;
   z-index: 100;
   top: 0;
  }

  #overlay div { padding: 150px; }

  canvas {
    position: fixed; width: 100%; height: 100%;
  }

  #back {
    position: relative;
    z-index: 200;
  }
 
  

  nav ul { list-style: none;}

  #meta-nav ul {
    margin-right: 1rem;
    font-size: 1rem;
    display: flex;
    /* flex-direction: column; */
    /* align-items: flex-end; */
    justify-content: flex-end;
  }
  #meta-nav ul li {
    margin-left: 2rem;
  }
  
  #meta-nav ul {
    font-size: 1rem;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: yellow;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }